:root {
    --font: #323B5A;
    --blue-dark: #323B5A;

    --blue: #5A7197;
    --blue-light: #E7FBFF;

    --rating-10: #FF4B55;
    --rating-15: #FF4B55;
    --rating-20: #FF9900;
    --rating-25: #FF9900;
    --rating-30: #FFD414;
    --rating-35: #FFD414;
    --rating-40: #0AE59C;
    --rating-45: #0AE59C;
    --rating-50: #00B67A;

    --gray-333: #333;
    --gray-c4: #c4c4c4;

    --font-family: 'Open Sans', Arial sans-serif;
}
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans/open-sans-v27-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/open-sans/open-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v27-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v27-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v27-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v27-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans/open-sans-v27-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/open-sans/open-sans-v27-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v27-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v27-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v27-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v27-latin-700.svg#OpenSans') format('svg');
    /* Legacy iOS */
}
html {
    height: 100%;
}

body {
    font-family: 'Open Sans', Arial sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--font);
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url(../img/bg-main.jpg);
    background-attachment: fixed;
}

/* a:visited,
 a:hover*/
a {
    color: var(--font)
}
a:hover {
    text-decoration: underline;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    /* margin-right: 10px; */
}

.main  {
    flex: 1 1 auto;
}

.content {

}

@media (min-width: 576px) {
    .aside {
        order: 1;
    }
    .content {
        order: 2;
    }
}


.rounded {
    border-radius: 2px;
}
.gap-20 {
    gap:20px;
}

.row-columns {
    padding: 20px 0 50px 0;
    gap: 20px;
}
.aside {
    flex: 0 0 31.4%;
    background-color: #fff;
    border-radius: 2px;
    padding: 30px 20px;
}
.content {
    flex: 1 1%;
    background-color: #fff;
    border-radius: 2px;
}

.aside__header {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 24px;
}

/* STARS */
.stars {
    display: inline-block;
    margin-right: 1em;
    color: #C4C4C4;
}

.stars__star {
    stroke-width: 1px;
}

/* .stars__star-outline {
    color: #C4C4C4;
    stroke-width: 1px;
    fill: none;
} */

#star-half path {
    stroke-width: 0;
}
#star-half path:nth-child(1) {
    fill: none;
    stroke-width: 1px;
}
#star-half path:nth-child(2) {
    /* fill: currentColor;
    stroke-width: 0; */
}
.stars_50,
.rating_50 .stars__star {
    color: var(--rating-50);
}

.stars_45,
.rating_45 .stars__star {
    color: var(--rating-50);
}

.stars_40,
.rating_40 .stars__star {
    color: var(--rating-40);
}

.stars_40,
.rating_40 .stars__star:nth-last-child(-n+1) {
    fill:#fff;
    color: var(--gray-c4);
}

.stars_35,
.rating_35 .stars__star {
    color: var(--rating-40);
}

.stars_30,
.rating_30 .stars__star {
    color: var(--rating-30);
}
.stars_30,
.rating_30 .stars__star:nth-last-child(-n+2) {
    fill: #fff;
    color: var(--gray-c4);
}

.stars_25,
.rating_25 .stars__star {
    color: var(--rating-30);
}

.stars_20,
.rating_20 .stars__star {
    color: var(--rating-20);
}
.stars_20,
.rating_20 .stars__star:nth-last-child(-n+3) {
    fill: #fff;
    color: var(--gray-c4);
}

.stars_15,
.rating_15 .stars__star {
    color: var(--rating-20);
}

.stars_10,
.rating_10 .stars__star {
    color: var(--rating-10);
}
.stars_10,
.rating_10 .stars__star:nth-last-child(-n+4) {
    fill: #fff;
    color: var(--gray-c4);
}

.stars_5,
.rating_5 .stars__star {
    color: var(--rating-10);
}
/* STARS */