

.business-information {

}

.business-information__wr {
    display: flex;
    gap: 20px;
}

.business-information__summary {
    flex: 1 1%;
    display: flex;
    align-items: center;
    gap: 45px;
}

.business-information__logo {
    flex: 0 0 150px;
}

.business-information__logo-link {
    display: block;
}

.business-information__img {
    display: block;
    max-width: 100%;
}

.business-information__content {

}

.business-information__header {
    font-size: 30px;
    line-height: 1.367em;
    margin-bottom: 10px;
}

.business-information__reviews {
    font-size: 16px;
    line-height: 1.375em;
    color: var(--blue);
    margin-bottom: 10px;
}

.business-information__rating {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}
.business-information__rating .stars {
    font-size: 30px;
    margin-right: 0.5em;
}


.business-information__value {
    color:var(--blue);
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.business-information__value .icon {
    font-size: 14px;
}

.business-information__extra {
    color:var(--blue);
    display: flex;
    align-items: center;
    gap: 0.5em;
    
}

.business-information__badges {
    flex: 0 0 31.4%;
}

.badge-website-link {
    background: #FFFFFF;
    border: 1px solid var(--blue);
    border-radius: 2px;
    padding: 15px;
    max-width: 270px;
    text-decoration: none;
    color: var(--blue);
    text-align: center;
    display: block;
}

.badge-website-link:hover {
    text-decoration: none;
}

.badge-website-link__icon {
    margin-bottom: 8px;
    font-size: 32px;
    display: block;
}

.badge-website-link__url {
    margin-bottom: 8px;
    font-weight: bold;
    display: block;
}

.badge-website-link__label {
    font-size: 14px;
    line-height: 1.7em;
    display: block;
}




.company-block {
    background-color: #FBFCFC;
    padding: 20px;
    margin-bottom: 20px;
}

.write-review-widgete {
    display: flex;
    align-items: center;
}

.write-review-widgete__user {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.write-review-widgete__ava {
    flex: 0 0 40px;
    border-radius: 50%;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.write-review-widgete__img {
    display: block;
    max-width: 100%;

}

.write-review-widgete__info {
    flex: 1 1 auto;
}

.write-review-widgete__link {
    color: var(--blue-vivid);
    font-size: 16px;
    line-height: 1.375em;
}

.star-selector {
    flex: 1 1 50%;
    font-size: 30px;
    text-align: right;
}




.reviews-filter {}

.reviews-filter__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
}

.reviews-filter__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

.reviews-filter__count {
    color: var(--blue)
}

.reviews-filter__buttons {}

.reviews-filter__buttons-label {
    font-size: 16px;
    line-height: 22px;
    color: var(--blue);
}
.reviews-filter__button {
    margin-left: 15px;
    padding: 4px 14px;
}

.reviews-separator {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.reviews-separator__item {
    display: table-row;
}
.reviews-separator__control {
    display: table-cell;
    padding: 10px 12px 10px 0;
    vertical-align: middle;
}
.reviews-separator__item .custom-control__checkbox {
    position: static;
}
.reviews-separator__label {
    display: table-cell;
    padding: 10px 22px 10px 0;
    vertical-align: middle;
}
.reviews-separator__meter {
    width: 100%;
    padding: 10px 0;
    display: table-cell;
    vertical-align: middle;
}
.reviews-separator__value {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0 10px 22px;
}


.reviews-aspects {
    margin-bottom: 20px;
}

.reviews-aspects__control {
    margin: 5px;
    display: inline-block;
}

.reviews-aspects__checkbox {
    display: none;
}
.reviews-aspects__checkbox:checked + .reviews-aspects__label {
    background-color: var(--rating-20);
    border-color: var(--rating-20);
    color: #fff;
}

.reviews-aspects__label {
    padding: 5px 15px;
}

.reviews-company-search {
    position: relative;
}

.reviews-company-search__input {
    height: 44px;
    padding-left: 60px;
}

.reviews-company-search__icon {
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 18px;
    color: #666;
}


.company-review__list {

}

.company-review {
    padding: 20px;
    background-color: #fff;
    border-left: solid 10px transparent;
    margin-bottom: 20px;
}

.rating_10.company-review {
    border-left-color: var(--rating-10);
}
.rating_20.company-review {
    border-left-color: var(--rating-20);
}
.rating_30.company-review {
    border-left-color: var(--rating-30);
}
.rating_40.company-review {
    border-left-color: var(--rating-40);
}
.rating_50.company-review {
    border-left-color: var(--rating-50);
}


.company-review__wr {
    border: 1px solid #C4C4C4;
    padding-top: 20px;
    margin-bottom: 20px;
}

.company-review__info {
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 17px;
}

.company-review-user {
    display: flex;
    gap: 20px;
    align-items: center;
}

.company-review-user__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 0 0 40px;
}

.company-review-user__img {
    display: block;
    max-width: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.company-review-user__info {
    flex: 1;
}
.company-review-user__info:hover {
    text-decoration: none;
}

.company-review-user__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.company-review-user__details {
    color: var(--blue);
    font-size: 16px;
    line-height: 22px;
    display: flex;
}

.company-review-user__reviews {
    margin-right: 20px;

}


.company-review-user__icon {
    font-size: 14px;
}



.company-review-user__location {}

.company-review-user__stars {
    font-size: 20px;
}

.company-review__info .company-review-user__stars {
    margin-left: auto;
}

.company-review__content-wr {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.company-review__buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 20px;
    color: var(--blue);
    margin-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
}


.company-review__date {
    margin-left: auto;
}

.company-review__label {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}
.company-review__label+.company-review__label {

}

.company-review__content {
    font-size: 16px;
    line-height: 22px;
    color: var(--blue); 
}

.company-review__header {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}

.company-review__actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.company-review__button {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: var(--blue);
}

.company-review__button:hover {
    color: var(--blue-dark);
}

.company-review__ {}




.aside-block {
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
}

.aside-block__h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}
.aside-block__h3 span {
    font-weight: 400;
}

.transparency {}


.transparency__list {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 20px;
}

.transparency__item {
    display: flex;
    gap: 10px;
    color: var(--blue);
    line-height: 22px;
    margin-bottom: 10px;
}

.transparency__icon {
    font-size: 14px;
}

.tooltip__wr {}

.transparency__text {
    font-size: 14px;
    line-height: 19px;
    color: #666666;
}

.accordion {
    color: var(--blue);
    margin-bottom: 20px;
}

.accordion__item {
    padding: 20px 0;
    border-bottom: 1px solid #C4C4C4;
}

.accordion__header {
    font-size: 16px;
    line-height: 22px;
    padding-right: 42px;
    position: relative;
    cursor: pointer;
}

.accordion__icon {
    position: absolute;
    top: 0.25em;
    right: 0;
}

.accordion__content {
    display: none;
}

.transparency__button-wr {

}


.transparency__more {
    display: block;
    width: 100%;
}



.company-locations {}

.company-locations__header {
    margin-bottom: 4px;
}

.company-locations__list {
    margin-bottom: 20px;
}

.company-locations__item {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #C4C4C4;
}

.company-locations__info {
    flex: 1 auto;
}

.company-locations__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}

.company-locations__address {
    font-size: 12px;
    line-height: 16px;
}

.company-locations__rating {
    flex: 0 0 110px;
    text-align: right;
}


.company-locations__reviews {
    font-size: 12px;
    line-height: 16px;
    text-align: right;
}

.company-locations__button-wr {
    text-align: center;
}

.company-locations__more {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: var(--blue-vivid)
}



.company-about {}

.company-about__label {
    font-size: 14px;
    line-height: 19px;
    color: #666666;
    margin-bottom: 20px;
}

.company-about__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--blue);
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 20px;
}

.company-about__contacts {
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 20px;
}

.company-about__contact {
    display: flex;
    gap: 10px;
    font-style: normal;
    line-height: 22px;
    margin-bottom: 10px;
}

.company-about__icon-wr {
    
}
.company-about__icon-wr .icon {
    position: relative;
    top: 2px;
}

.company-about__value {
    flex: 1 auto
}
.company-about__contact a {
    color: var(--blue-vivid)
}


.company-about__categories {}

.company-about__category {
    
    font-size: 16px;
    line-height: 22px;
}
.company-about__category a {
    color: var(--blue-vivid);
}

.trust-about {}

.u-content {}