/*FOOTER */
.footer {
    color:#fff;
}

.footer-top {
    padding: 15px 0;
    background-color: var(--blue-dark);
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.footer-logo__img {
    display: block;
    margin: 0 auto;
}


.footer-social {
    
}

.footer-social__item {
    margin-bottom: 12px;
    line-height: 1.5em;
}

.footer-social__link {
    
}
.footer-social__link svg {
    
}


.footer-middle {
    padding: 30px 0;
    background-color: var(--blue);
    color:#fff;
}
.footer-middle a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-middle a:hover {
    color: #fff;
}

.footer-middle__col-1 {
    padding: 0 12px 20px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    order: 2;
}

.footer-middle__col-2 {
    padding: 0 12px 30px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    order: 3;
}

.footer-middle__col-3 {
    padding: 0 12px 30px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    order: 4;
}

.footer-middle__col-4 {
    padding: 0 12px 30px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    order: 5;
}
.footer-middle__col-5 {
    padding: 0 12px 30px;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    order: 1;
}

@media screen and (min-width: 568px) {
    .footer-middle__col-1 {
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
    }
    .footer-middle__col-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer-middle__col-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer-middle__col-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .footer-middle__col-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .footer-middle {
        padding: 45px 0;
    }
}
@media screen and (min-width: 1024px) {
    .footer-middle__col-1 {
        flex: 0 0 20.5%;
        max-width: 20.5%;
        order: 1;
    }
    .footer-middle__col-2 {
        flex: 0 0 20.5%;
        max-width: 20.5%;
        order: 2;
    }

    .footer-middle__col-3 {
        flex: 0 0 20.5%;
        max-width: 20.5%;
        order: 3;
    }

    .footer-middle__col-4 {
        flex: 0 0 20.5%;
        max-width: 20.5%;
        order: 4;
    }
    .footer-middle__col-5 {
        flex: 0 0 18%;
        max-width: 18%;
        order: 5;
    }
}

.footer-middle__logo {
    display: block;
    width: 100%;
    max-width: 168px;
    height: auto;
}



.footer-middle__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 14px;
}



.nav-footer {}

.nav-footer__list {

}

.nav-footer__item {
    margin-bottom: 12px;
}

.nav-footer__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5em;
}

.country-chooser {
    background: #FFFFFF;
    border-radius: 2px;
    font-size: 16px;
    color: var(--font);
    height: 44px;
    width: 100%;
}


.nav-footer-extra {

}
.nav-footer-extra__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:12px;
}
.nav-footer-extra__item {
    width: 100%;
    margin-bottom: 12px;
}
.nav-footer-extra__link {
    line-height: 1.5em;
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    background-color: var(--blue-dark);
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    padding: 20px 0;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #fff;
}

.footer-bottom__text {
    font-size: 20px;
    line-height: 1.3;
}
.footer-bottom__text strong {
    font-weight: 500;
}

.footer-bottom__link {
    color: var(--green-dark);
}

.footer-bottom__col-1 {
    margin-bottom: 20px;
}


.footer-bottom__col-2 {

}

@media (min-width: 768px) {
    .footer-bottom__col-1 {
        margin-bottom: 0;
    }
    .footer-bottom__col-2 {
        text-align: right;
    }
    .nav-footer-extra__item {
        width: auto;
    }
}
/* /FOOTER */